In [1]:
path_to_zips = "/home/dsc/Data/us_dot/otp/"

In [2]:
# Usamos la shell para ver el csv.

In [3]:
!ls

opentraveldata	README.md  sabado_2.ipynb  us_dot

In [4]:
# Podemos usar variables de python con las llaves.
! ls {path_to_zips}

On_Time_On_Time_Performance_2015_1.zip	On_Time_On_Time_Performance_2015_5.zip
On_Time_On_Time_Performance_2015_2.zip	On_Time_On_Time_Performance_2015_6.zip
On_Time_On_Time_Performance_2015_3.zip	On_Time_On_Time_Performance_2015_7.zip
On_Time_On_Time_Performance_2015_4.zip	On_Time_On_Time_Performance_2015_8.zip

In [5]:
! ls -lh {path_to_zips}

total 186M
-rw-r--r--. 1 dsc dsc 22M Nov  8 14:10 On_Time_On_Time_Performance_2015_1.zip
-rw-r--r--. 1 dsc dsc 21M Nov  8 14:10 On_Time_On_Time_Performance_2015_2.zip
-rw-r--r--. 1 dsc dsc 24M Nov  8 14:10 On_Time_On_Time_Performance_2015_3.zip
-rw-r--r--. 1 dsc dsc 23M Nov  8 14:10 On_Time_On_Time_Performance_2015_4.zip
-rw-r--r--. 1 dsc dsc 24M Nov  8 14:10 On_Time_On_Time_Performance_2015_5.zip
-rw-r--r--. 1 dsc dsc 25M Nov  8 14:10 On_Time_On_Time_Performance_2015_6.zip
-rw-r--r--. 1 dsc dsc 25M Nov  8 14:10 On_Time_On_Time_Performance_2015_7.zip
-rw-r--r--. 1 dsc dsc 25M Nov  8 14:10 On_Time_On_Time_Performance_2015_8.zip

In [6]:
# exploracion inicial del 1. Ojo debemos añadir el path sino no lo encuentra.

! unzip -l {path_to_zips}On_Time_On_Time_Performance_2015_1.zip

Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip
  Length      Date    Time    Name
---------  ---------- -----   ----
211633432  04-16-2015 20:02   On_Time_On_Time_Performance_2015_1.csv
    12054  04-16-2015 20:02   readme.html
---------                     -------
211645486                     2 files

In [7]:
# miraremos el Readme. Debemos descomprimir
! unzip -o {path_to_zips}On_Time_On_Time_Performance_2015_1.zip readme.html -d .

Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip
  inflating: ./readme.html

In [8]:
# libreria para ver html dentro del notebook
from IPython.display import IFrame

In [9]:
IFrame('readme.html', width=700, height=500)

In [10]:
# Empezamos a trabajar con el archivo comprimido.
import zipfile

In [13]:
zip_file = zipfile.ZipFile(path_to_zips + 'On_Time_On_Time_Performance_2015_1.zip')

In [14]:
type(zip_file)

zipfile.ZipFile

In [15]:
# Para abrir el archivo. Pero NO está descomprimido como el html, sigue comprimido.
csv_file = zip_file.open('On_Time_On_Time_Performance_2015_1.csv')

In [16]:
# Cargamos
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [17]:
df = pd.read_csv(csv_file)

/usr/lib64/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (77,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [18]:
# Miramos general
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2015,1,1,1,4,2015-01-01,AA,19805,AA,N787AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,2,5,2015-01-02,AA,19805,AA,N795AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,3,6,2015-01-03,AA,19805,AA,N788AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,7,2015-01-04,AA,19805,AA,N791AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,5,1,2015-01-05,AA,19805,AA,N783AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Salidas de aviones.
len(df)

469968

In [20]:
df.count()

Year                  469968
Quarter               469968
Month                 469968
DayofMonth            469968
DayOfWeek             469968
FlightDate            469968
UniqueCarrier         469968
AirlineID             469968
Carrier               469968
TailNum               467186
FlightNum             469968
OriginAirportID       469968
OriginAirportSeqID    469968
OriginCityMarketID    469968
Origin                469968
OriginCityName        469968
OriginState           469968
OriginStateFips       469968
OriginStateName       469968
OriginWac             469968
DestAirportID         469968
DestAirportSeqID      469968
DestCityMarketID      469968
Dest                  469968
DestCityName          469968
DestState             469968
DestStateFips         469968
DestStateName         469968
DestWac               469968
CRSDepTime            469968
                       ...
Div2WheelsOn              27
Div2TotalGTime            27
Div2LongestGTime          27
Div2WheelsOff              9
Div2TailNum                9
Div3Airport                2
Div3AirportID              2
Div3AirportSeqID           2
Div3WheelsOn               2
Div3TotalGTime             2
Div3LongestGTime           2
Div3WheelsOff              0
Div3TailNum                0
Div4Airport                0
Div4AirportID              0
Div4AirportSeqID           0
Div4WheelsOn               0
Div4TotalGTime             0
Div4LongestGTime           0
Div4WheelsOff              0
Div4TailNum                0
Div5Airport                0
Div5AirportID              0
Div5AirportSeqID           0
Div5WheelsOn               0
Div5TotalGTime             0
Div5LongestGTime           0
Div5WheelsOff              0
Div5TailNum                0
Unnamed: 109               0
dtype: int64

In [21]:
# Devuelve una serie booleana para los que tengan menos de 1000 resultados.
escasos = df.count() < 1000

In [22]:
# indice primario
df.index

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            469958, 469959, 469960, 469961, 469962, 469963, 469964, 469965,
            469966, 469967],
           dtype='int64', length=469968)

In [23]:
# indice secuandario o de columnas
df.columns

Index([u'Year', u'Quarter', u'Month', u'DayofMonth', u'DayOfWeek',
       u'FlightDate', u'UniqueCarrier', u'AirlineID', u'Carrier', u'TailNum',
       ...
       u'Div4TailNum', u'Div5Airport', u'Div5AirportID', u'Div5AirportSeqID',
       u'Div5WheelsOn', u'Div5TotalGTime', u'Div5LongestGTime',
       u'Div5WheelsOff', u'Div5TailNum', u'Unnamed: 109'],
      dtype='object', length=110)

In [24]:
# Filtramos los valores pequeños o escasos. Recoge las columnas escasas.
df.columns[escasos]

Index([u'DivReachedDest', u'DivActualElapsedTime', u'DivArrDelay',
       u'DivDistance', u'Div1WheelsOff', u'Div1TailNum', u'Div2Airport',
       u'Div2AirportID', u'Div2AirportSeqID', u'Div2WheelsOn',
       u'Div2TotalGTime', u'Div2LongestGTime', u'Div2WheelsOff',
       u'Div2TailNum', u'Div3Airport', u'Div3AirportID', u'Div3AirportSeqID',
       u'Div3WheelsOn', u'Div3TotalGTime', u'Div3LongestGTime',
       u'Div3WheelsOff', u'Div3TailNum', u'Div4Airport', u'Div4AirportID',
       u'Div4AirportSeqID', u'Div4WheelsOn', u'Div4TotalGTime',
       u'Div4LongestGTime', u'Div4WheelsOff', u'Div4TailNum', u'Div5Airport',
       u'Div5AirportID', u'Div5AirportSeqID', u'Div5WheelsOn',
       u'Div5TotalGTime', u'Div5LongestGTime', u'Div5WheelsOff',
       u'Div5TailNum', u'Unnamed: 109'],
      dtype='object')

In [42]:
# Columnas que nos vamos a quedar.

abundantes = df.count() > 1000

In [43]:
# también como df.columns[~escasos]
df.columns[abundantes]

Index([u'Year', u'Quarter', u'Month', u'DayofMonth', u'DayOfWeek',
       u'FlightDate', u'UniqueCarrier', u'AirlineID', u'Carrier', u'TailNum',
       u'FlightNum', u'OriginAirportID', u'OriginAirportSeqID',
       u'OriginCityMarketID', u'Origin', u'OriginCityName', u'OriginState',
       u'OriginStateFips', u'OriginStateName', u'OriginWac', u'DestAirportID',
       u'DestAirportSeqID', u'DestCityMarketID', u'Dest', u'DestCityName',
       u'DestState', u'DestStateFips', u'DestStateName', u'DestWac',
       u'CRSDepTime', u'DepTime', u'DepDelay', u'DepDelayMinutes', u'DepDel15',
       u'DepartureDelayGroups', u'DepTimeBlk', u'TaxiOut', u'WheelsOff',
       u'WheelsOn', u'TaxiIn', u'CRSArrTime', u'ArrTime', u'ArrDelay',
       u'ArrDelayMinutes', u'ArrDel15', u'ArrivalDelayGroups', u'ArrTimeBlk',
       u'Cancelled', u'CancellationCode', u'Diverted', u'CRSElapsedTime',
       u'ActualElapsedTime', u'AirTime', u'Flights', u'Distance',
       u'DistanceGroup', u'CarrierDelay', u'WeatherDelay', u'NASDelay',
       u'SecurityDelay', u'LateAircraftDelay', u'FirstDepTime',
       u'TotalAddGTime', u'LongestAddGTime', u'DivAirportLandings',
       u'Div1Airport', u'Div1AirportID', u'Div1AirportSeqID', u'Div1WheelsOn',
       u'Div1TotalGTime', u'Div1LongestGTime'],
      dtype='object')

In [44]:
# Selección de varias columnas
df[['Year', 'Month']]

        Year  Month
0       2015      1
1       2015      1
2       2015      1
3       2015      1
4       2015      1
5       2015      1
6       2015      1
7       2015      1
8       2015      1
9       2015      1
10      2015      1
11      2015      1
12      2015      1
13      2015      1
14      2015      1
15      2015      1
16      2015      1
17      2015      1
18      2015      1
19      2015      1
20      2015      1
21      2015      1
22      2015      1
23      2015      1
24      2015      1
25      2015      1
26      2015      1
27      2015      1
28      2015      1
29      2015      1
...      ...    ...
469938  2015      1
469939  2015      1
469940  2015      1
469941  2015      1
469942  2015      1
469943  2015      1
469944  2015      1
469945  2015      1
469946  2015      1
469947  2015      1
469948  2015      1
469949  2015      1
469950  2015      1
469951  2015      1
469952  2015      1
469953  2015      1
469954  2015      1
469955  2015      1
469956  2015      1
469957  2015      1
469958  2015      1
469959  2015      1
469960  2015      1
469961  2015      1
469962  2015      1
469963  2015      1
469964  2015      1
469965  2015      1
469966  2015      1
469967  2015      1

[469968 rows x 2 columns]

In [45]:
# seleccionamos las columnas a quedarnos.Nos quitamos todas las columnas que no queremos.
df = df[abundantes.index]

In [46]:
df

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2015,1,1,1,4,2015-01-01,AA,19805,AA,N787AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,2,5,2015-01-02,AA,19805,AA,N795AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,3,6,2015-01-03,AA,19805,AA,N788AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,7,2015-01-04,AA,19805,AA,N791AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,5,1,2015-01-05,AA,19805,AA,N783AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,1,1,6,2,2015-01-06,AA,19805,AA,N799AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,1,1,7,3,2015-01-07,AA,19805,AA,N784AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,1,1,8,4,2015-01-08,AA,19805,AA,N787AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,1,1,9,5,2015-01-09,AA,19805,AA,N795AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,1,1,10,6,2015-01-10,AA,19805,AA,N790AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2015,1,1,11,7,2015-01-11,AA,19805,AA,N786AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2015,1,1,12,1,2015-01-12,AA,19805,AA,N790AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2015,1,1,13,2,2015-01-13,AA,19805,AA,N796AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2015,1,1,14,3,2015-01-14,AA,19805,AA,N793AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2015,1,1,15,4,2015-01-15,AA,19805,AA,N790AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2015,1,1,16,5,2015-01-16,AA,19805,AA,N797AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2015,1,1,17,6,2015-01-17,AA,19805,AA,N795AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2015,1,1,18,7,2015-01-18,AA,19805,AA,N786AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2015,1,1,19,1,2015-01-19,AA,19805,AA,N785AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2015,1,1,20,2,2015-01-20,AA,19805,AA,N797AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2015,1,1,21,3,2015-01-21,AA,19805,AA,N789AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2015,1,1,22,4,2015-01-22,AA,19805,AA,N790AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2015,1,1,23,5,2015-01-23,AA,19805,AA,N790AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2015,1,1,24,6,2015-01-24,AA,19805,AA,N787AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2015,1,1,25,7,2015-01-25,AA,19805,AA,N791AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2015,1,1,26,1,2015-01-26,AA,19805,AA,N783AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2015,1,1,27,2,2015-01-27,AA,19805,AA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2015,1,1,28,3,2015-01-28,AA,19805,AA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2015,1,1,29,4,2015-01-29,AA,19805,AA,N794AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2015,1,1,30,5,2015-01-30,AA,19805,AA,N792AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469938,2015,1,1,3,6,2015-01-03,NK,20416,NK,N505NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469939,2015,1,1,4,7,2015-01-04,NK,20416,NK,N503NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469940,2015,1,1,5,1,2015-01-05,NK,20416,NK,N508NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469941,2015,1,1,6,2,2015-01-06,NK,20416,NK,N503NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469942,2015,1,1,7,3,2015-01-07,NK,20416,NK,N508NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469943,2015,1,1,8,4,2015-01-08,NK,20416,NK,N503NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469944,2015,1,1,9,5,2015-01-09,NK,20416,NK,N508NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469945,2015,1,1,10,6,2015-01-10,NK,20416,NK,N503NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469946,2015,1,1,11,7,2015-01-11,NK,20416,NK,N508NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469947,2015,1,1,12,1,2015-01-12,NK,20416,NK,N503NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469948,2015,1,1,13,2,2015-01-13,NK,20416,NK,N514NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469949,2015,1,1,14,3,2015-01-14,NK,20416,NK,N528NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469950,2015,1,1,15,4,2015-01-15,NK,20416,NK,N508NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469951,2015,1,1,16,5,2015-01-16,NK,20416,NK,N528NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469952,2015,1,1,17,6,2015-01-17,NK,20416,NK,N508NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469953,2015,1,1,18,7,2015-01-18,NK,20416,NK,N528NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469954,2015,1,1,19,1,2015-01-19,NK,20416,NK,N505NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469955,2015,1,1,20,2,2015-01-20,NK,20416,NK,N521NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469956,2015,1,1,21,3,2015-01-21,NK,20416,NK,N505NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469957,2015,1,1,22,4,2015-01-22,NK,20416,NK,N522NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469958,2015,1,1,23,5,2015-01-23,NK,20416,NK,N502NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469959,2015,1,1,24,6,2015-01-24,NK,20416,NK,N524NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469960,2015,1,1,25,7,2015-01-25,NK,20416,NK,N502NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469961,2015,1,1,26,1,2015-01-26,NK,20416,NK,N524NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469962,2015,1,1,27,2,2015-01-27,NK,20416,NK,N502NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469963,2015,1,1,28,3,2015-01-28,NK,20416,NK,N524NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469964,2015,1,1,29,4,2015-01-29,NK,20416,NK,N502NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469965,2015,1,1,30,5,2015-01-30,NK,20416,NK,N519NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469966,2015,1,1,31,6,2015-01-31,NK,20416,NK,N502NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469967,2015,1,1,1,4,2015-01-01,NK,20416,NK,N502NK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
len(escasos[escasos])

39

In [48]:
# un arreglo para corregir un error en la selección de escasos.

df = df[escasos[~escasos].index]

In [49]:
df

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,FirstDepTime,TotalAddGTime,LongestAddGTime,DivAirportLandings,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime
0,2015,1,1,1,4,2015-01-01,AA,19805,AA,N787AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,2,5,2015-01-02,AA,19805,AA,N795AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,3,6,2015-01-03,AA,19805,AA,N788AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,7,2015-01-04,AA,19805,AA,N791AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,5,1,2015-01-05,AA,19805,AA,N783AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,1,1,6,2,2015-01-06,AA,19805,AA,N799AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,1,1,7,3,2015-01-07,AA,19805,AA,N784AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,1,1,8,4,2015-01-08,AA,19805,AA,N787AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,1,1,9,5,2015-01-09,AA,19805,AA,N795AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,1,1,10,6,2015-01-10,AA,19805,AA,N790AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
10,2015,1,1,11,7,2015-01-11,AA,19805,AA,N786AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
11,2015,1,1,12,1,2015-01-12,AA,19805,AA,N790AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
12,2015,1,1,13,2,2015-01-13,AA,19805,AA,N796AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
13,2015,1,1,14,3,2015-01-14,AA,19805,AA,N793AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
14,2015,1,1,15,4,2015-01-15,AA,19805,AA,N790AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
15,2015,1,1,16,5,2015-01-16,AA,19805,AA,N797AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
16,2015,1,1,17,6,2015-01-17,AA,19805,AA,N795AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
17,2015,1,1,18,7,2015-01-18,AA,19805,AA,N786AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
18,2015,1,1,19,1,2015-01-19,AA,19805,AA,N785AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
19,2015,1,1,20,2,2015-01-20,AA,19805,AA,N797AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
20,2015,1,1,21,3,2015-01-21,AA,19805,AA,N789AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
21,2015,1,1,22,4,2015-01-22,AA,19805,AA,N790AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
22,2015,1,1,23,5,2015-01-23,AA,19805,AA,N790AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
23,2015,1,1,24,6,2015-01-24,AA,19805,AA,N787AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
24,2015,1,1,25,7,2015-01-25,AA,19805,AA,N791AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
25,2015,1,1,26,1,2015-01-26,AA,19805,AA,N783AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
26,2015,1,1,27,2,2015-01-27,AA,19805,AA,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
27,2015,1,1,28,3,2015-01-28,AA,19805,AA,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
28,2015,1,1,29,4,2015-01-29,AA,19805,AA,N794AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
29,2015,1,1,30,5,2015-01-30,AA,19805,AA,N792AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469938,2015,1,1,3,6,2015-01-03,NK,20416,NK,N505NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469939,2015,1,1,4,7,2015-01-04,NK,20416,NK,N503NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469940,2015,1,1,5,1,2015-01-05,NK,20416,NK,N508NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469941,2015,1,1,6,2,2015-01-06,NK,20416,NK,N503NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469942,2015,1,1,7,3,2015-01-07,NK,20416,NK,N508NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469943,2015,1,1,8,4,2015-01-08,NK,20416,NK,N503NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469944,2015,1,1,9,5,2015-01-09,NK,20416,NK,N508NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469945,2015,1,1,10,6,2015-01-10,NK,20416,NK,N503NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469946,2015,1,1,11,7,2015-01-11,NK,20416,NK,N508NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469947,2015,1,1,12,1,2015-01-12,NK,20416,NK,N503NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469948,2015,1,1,13,2,2015-01-13,NK,20416,NK,N514NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469949,2015,1,1,14,3,2015-01-14,NK,20416,NK,N528NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469950,2015,1,1,15,4,2015-01-15,NK,20416,NK,N508NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469951,2015,1,1,16,5,2015-01-16,NK,20416,NK,N528NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469952,2015,1,1,17,6,2015-01-17,NK,20416,NK,N508NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469953,2015,1,1,18,7,2015-01-18,NK,20416,NK,N528NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469954,2015,1,1,19,1,2015-01-19,NK,20416,NK,N505NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469955,2015,1,1,20,2,2015-01-20,NK,20416,NK,N521NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469956,2015,1,1,21,3,2015-01-21,NK,20416,NK,N505NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469957,2015,1,1,22,4,2015-01-22,NK,20416,NK,N522NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469958,2015,1,1,23,5,2015-01-23,NK,20416,NK,N502NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469959,2015,1,1,24,6,2015-01-24,NK,20416,NK,N524NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469960,2015,1,1,25,7,2015-01-25,NK,20416,NK,N502NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469961,2015,1,1,26,1,2015-01-26,NK,20416,NK,N524NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469962,2015,1,1,27,2,2015-01-27,NK,20416,NK,N502NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469963,2015,1,1,28,3,2015-01-28,NK,20416,NK,N524NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469964,2015,1,1,29,4,2015-01-29,NK,20416,NK,N502NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469965,2015,1,1,30,5,2015-01-30,NK,20416,NK,N519NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469966,2015,1,1,31,6,2015-01-31,NK,20416,NK,N502NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469967,2015,1,1,1,4,2015-01-01,NK,20416,NK,N502NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
# Otras formas de examinar.
df.sample(10)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,FirstDepTime,TotalAddGTime,LongestAddGTime,DivAirportLandings,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime
117859,2015,1,1,23,5,2015-01-23,US,20355,US,N954UW,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
426081,2015,1,1,6,2,2015-01-06,F9,20436,F9,N227FR,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
87523,2015,1,1,6,2,2015-01-06,DL,19790,DL,N977AT,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
40562,2015,1,1,1,4,2015-01-01,AS,19930,AS,N319AS,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
418503,2015,1,1,28,3,2015-01-28,EV,20366,EV,N820AS,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
70617,2015,1,1,29,4,2015-01-29,B6,20409,B6,N329JB,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
363476,2015,1,1,25,7,2015-01-25,DL,19790,DL,N817DN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
4723,2015,1,1,10,6,2015-01-10,AA,19805,AA,N3GMAA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
107511,2015,1,1,16,5,2015-01-16,DL,19790,DL,N337NB,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
270141,2015,1,1,24,6,2015-01-24,OO,20304,OO,N822SK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
# Hay campos redundantes: fechas y localizaciones.
# Seleccionar columnas con cadenas de texto. Ejemplo: donde esta Origin.
df.columns.str.contains('Origin')

array([False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False], dtype=bool)

In [52]:
df.columns[df.columns.str.contains('Origin')]

Index([u'OriginAirportID', u'OriginAirportSeqID', u'OriginCityMarketID',
       u'Origin', u'OriginCityName', u'OriginState', u'OriginStateFips',
       u'OriginStateName', u'OriginWac'],
      dtype='object')

In [53]:
origin_col_names = df.columns[df.columns.str.contains('Origin')]

In [55]:
df[origin_col_names].sample(5)

,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac
269289,13796,1379603,32457,OAK,"Oakland, CA",CA,6,California,91
104468,10821,1082103,30852,BWI,"Baltimore, MD",MD,24,Maryland,35
322133,10721,1072102,30721,BOS,"Boston, MA",MA,25,Massachusetts,13
108367,12478,1247802,31703,JFK,"New York, NY",NY,36,New York,22
302075,12266,1226603,31453,IAH,"Houston, TX",TX,48,Texas,74

In [57]:
# Modificamos el dataframe quitando las columnas que no queremos.

cols_to_keep = pd.Index(['Origin', 'OriginCityName', 'OriginStateName'])

In [58]:
cols_to_drop = origin_col_names.difference(cols_to_keep)

In [59]:
cols_to_drop

Index([u'OriginAirportID', u'OriginAirportSeqID', u'OriginCityMarketID',
       u'OriginState', u'OriginStateFips', u'OriginWac'],
      dtype='object')

In [62]:
# Ahora eliminamos
df2 = df.drop(cols_to_drop, axis=1)

In [63]:
df2.sample(5)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,FirstDepTime,TotalAddGTime,LongestAddGTime,DivAirportLandings,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime
460775,2015,1,1,2,5,2015-01-02,MQ,20398,MQ,N6EAMQ,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
262198,2015,1,1,18,7,2015-01-18,OO,20304,OO,N817SK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
466038,2015,1,1,16,5,2015-01-16,MQ,20398,MQ,N855MQ,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
328193,2015,1,1,1,4,2015-01-01,US,20355,US,N744P,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
383797,2015,1,1,16,5,2015-01-16,EV,20366,EV,N13968,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

## Manipulación y selección de datos.

In [64]:
# Transformar datos de un formato NO útil a útil.
# Ej.:

In [65]:
df2['FlightNum'].sample(5)

316914     653
347353     691
24119     1493
195741     469
161349    4105
Name: FlightNum, dtype: int64

In [66]:
df2['DepTime'].sample(5)

415295     628
374576    1236
88245     1321
356934     618
225022    1008
Name: DepTime, dtype: float64

In [67]:
# debería ser un valor de tiempo, pero está como número.

In [68]:
# Vamos a crear una columna hora de depTime

In [69]:
def hora(number):
    return int(number/100)

In [70]:
# df2['DepTime'].map(hora) Da error porque hay NaN
df2['DepTime'].fillna(0.0).map(hora)

0          8
1          8
2          8
3          8
4          8
5          8
6          8
7          8
8          9
9          9
10         8
11         8
12         8
13         8
14         8
15         9
16         8
17         9
18         8
19         8
20         8
21         8
22         8
23        10
24         9
25         8
26         0
27         0
28         8
29         8
          ..
469938     5
469939     5
469940     5
469941     5
469942     5
469943     5
469944     5
469945     5
469946     5
469947     5
469948     6
469949     5
469950     5
469951     5
469952     5
469953     5
469954     5
469955     5
469956     5
469957     5
469958     5
469959     5
469960     5
469961     5
469962     5
469963     6
469964     5
469965     5
469966     6
469967     7
Name: DepTime, dtype: int64

In [71]:
df2['DepHour'] = df2['DepTime'].fillna(0.0).map(hora)

In [72]:
df2.sample(10)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,TotalAddGTime,LongestAddGTime,DivAirportLandings,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime,DepHour
147134,2015,1,1,5,1,2015-01-05,WN,19393,WN,N8323C,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,18
39865,2015,1,1,4,7,2015-01-04,AA,19805,AA,N010AA,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,10
76021,2015,1,1,20,2,2015-01-20,AA,19805,AA,N571AA,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,14
381009,2015,1,1,4,7,2015-01-04,EV,20366,EV,N16541,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,10
413548,2015,1,1,10,6,2015-01-10,EV,20366,EV,N936EV,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,12
401371,2015,1,1,3,6,2015-01-03,EV,20366,EV,N738EV,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,18
232464,2015,1,1,30,5,2015-01-30,WN,19393,WN,N439WN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,13
41755,2015,1,1,5,1,2015-01-05,AS,19930,AS,N413AS,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,7
8635,2015,1,1,9,5,2015-01-09,AA,19805,AA,N3BMAA,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,17
210562,2015,1,1,25,7,2015-01-25,WN,19393,WN,N920WN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,14

In [73]:
df2[["DepTime","DepHour"]].sample(10)

        DepTime  DepHour
228250     1507       15
200058      907        9
47710      1713       17
387892     1622       16
157827     1427       14
256061      NaN        0
345089      935        9
155838      923        9
51905       858        8
229911     1308       13

In [74]:
# Examinar los delays
df2['DepDelay']

0          -5
1         -10
2          -7
3          -7
4          -7
5          -4
6          -1
7          -4
8           1
9           3
10         -6
11         -7
12         -6
13         -4
14         -8
15          0
16         -8
17         16
18         -6
19         -7
20         -7
21         -8
22         -6
23        103
24          3
25         -6
26        NaN
27        NaN
28         -5
29         -2
         ...
469938     -3
469939     -6
469940    -10
469941     -2
469942     -1
469943     -7
469944     -7
469945    -10
469946     -8
469947     -6
469948      3
469949     -6
469950     -3
469951     -8
469952     -5
469953     -9
469954    -10
469955     -6
469956     -4
469957     -5
469958     -5
469959     -8
469960     -6
469961     -9
469962    -11
469963      3
469964     -4
469965     -4
469966      1
469967     43
Name: DepDelay, dtype: float64

In [90]:
# Vuelos más retrasados.
# Ordenar el dataframe completo en base a una columna.
sorted_delays = df2['DepDelay'].copy()

In [91]:
type(sorted_delays)

pandas.core.series.Series

In [92]:
sorted_delays.sort(ascending=False)

In [93]:
sorted_delays.head(5)

21523     1988
11524     1604
18198     1551
108152    1457
26001     1450
Name: DepDelay, dtype: float64

In [94]:
biggest_delays = sorted_delays.head()

In [97]:
biggest_delayed_flights = df2.ix[biggest_delays.index]

In [98]:
biggest_delayed_flights.head(5)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,TotalAddGTime,LongestAddGTime,DivAirportLandings,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime,DepHour
21523,2015,1,1,23,5,2015-01-23,AA,19805,AA,N598AA,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,16
11524,2015,1,1,18,7,2015-01-18,AA,19805,AA,N5DGAA,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,14
18198,2015,1,1,27,2,2015-01-27,AA,19805,AA,N586AA,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,8
108152,2015,1,1,21,3,2015-01-21,AA,19805,AA,N4XNAA,...,27,27,0,NaN,NaN,NaN,NaN,NaN,NaN,12
26001,2015,1,1,11,7,2015-01-11,AA,19805,AA,N469AA,...,12,12,0,NaN,NaN,NaN,NaN,NaN,NaN,7

In [99]:
biggest_delayed_flights['Carrier']

21523     AA
11524     AA
18198     AA
108152    AA
26001     AA
Name: Carrier, dtype: object

In [100]:
# Uso de Groupby
# A parte de líneas problemáticas podemos sacar aviones problemáticos.
# Agrupamos en base a tail number y sacamos luego el delay medio de cada grupo.

grouped_by_plane = df2.groupby('TailNum')

In [101]:
grouped_by_plane['DepDelay']

In [105]:
delays_by_plane = grouped_by_plane['DepDelay'].mean()

In [106]:
mean_delays = delays_by_plane.copy()

In [107]:
mean_delays.sort(ascending=False)

In [108]:
mean_delays

TailNum
N79011    232.000000
N228UA    217.500000
N707DN    204.000000
N651UA    167.000000
N776UA    159.000000
N660UA    150.500000
N116UA    129.000000
N780UA    119.000000
N398AA    118.733333
N76065    117.416667
N663UA    116.250000
N7BUAA    113.000000
N7ACAA    113.000000
N5FSAA    105.800000
N664UA    103.000000
N76062     99.000000
N557AA     85.434783
N66057     83.888889
N183DN     83.500000
N652UA     83.000000
N7BYAA     79.833333
N350AA     73.000000
N835MH     71.000000
N17104     69.833333
N76021     68.000000
N12125     67.235294
N348AA     66.571429
N7APAA     66.000000
N185DN     66.000000
N673UA     66.000000
             ...
N7AFAA     -3.500000
N612AS     -3.508475
N594HA     -3.666667
N7AJAA     -3.666667
N183JB     -3.684211
N431SW     -3.778689
N611AS     -3.837398
N224UA     -4.000000
N177DZ     -4.000000
N182DN     -4.000000
N659BR     -4.097561
N495UA     -4.333333
N778UA     -4.333333
N627AS     -4.407767
N7BJAA     -4.500000
N7AYAA     -4.500000
N803NW     -4.500000
N618AS     -4.526786
N806NW     -4.750000
N447SW     -5.000000
N229UA     -5.000000
N299SW     -5.769231
N781CA     -5.821918
N821NW     -6.500000
N787UA     -6.500000
N673US           NaN
N830MH           NaN
N844MH           NaN
N860DA           NaN
N866DA           NaN
Name: DepDelay, dtype: float64

In [109]:
# Para contextualizar la media, usaremos el número de vuelos, pues hay valores muy grandes arriba.
means_counts = grouped_by_plane['DepDelay'].agg(['mean','count'])

In [110]:
means_counts.head()

              mean  count
TailNum
N001AA    6.852459     61
N002AA    6.118644     59
N003AA   21.866667     60
N004AA    6.300000     70
N005AA   14.676471     68

In [111]:
# volvemos a ordenar.

In [113]:
means_counts.sort('mean', ascending=False)

               mean  count
TailNum
N79011   232.000000      2
N228UA   217.500000      2
N707DN   204.000000      2
N651UA   167.000000      4
N776UA   159.000000      2
N660UA   150.500000      2
N116UA   129.000000      2
N780UA   119.000000      2
N398AA   118.733333     15
N76065   117.416667     12
N663UA   116.250000      4
N7ACAA   113.000000      2
N7BUAA   113.000000      3
N5FSAA   105.800000     15
N664UA   103.000000      7
N76062    99.000000     10
N557AA    85.434783     23
N66057    83.888889      9
N183DN    83.500000      4
N652UA    83.000000      1
N7BYAA    79.833333      6
N350AA    73.000000      5
N835MH    71.000000      1
N17104    69.833333     12
N76021    68.000000      4
N12125    67.235294     34
N348AA    66.571429      7
N7APAA    66.000000      2
N673UA    66.000000      1
N185DN    66.000000      3
...             ...    ...
N7AFAA    -3.500000      2
N612AS    -3.508475    118
N7AJAA    -3.666667      3
N594HA    -3.666667      9
N183JB    -3.684211     19
N431SW    -3.778689    122
N611AS    -3.837398    123
N224UA    -4.000000      1
N177DZ    -4.000000      2
N182DN    -4.000000      4
N659BR    -4.097561    164
N778UA    -4.333333      3
N495UA    -4.333333      6
N627AS    -4.407767    103
N803NW    -4.500000      4
N7AYAA    -4.500000      2
N7BJAA    -4.500000      2
N618AS    -4.526786    112
N806NW    -4.750000      4
N447SW    -5.000000      2
N229UA    -5.000000      1
N299SW    -5.769231     39
N781CA    -5.821918    146
N821NW    -6.500000      2
N787UA    -6.500000      2
N673US          NaN      0
N830MH          NaN      0
N844MH          NaN      0
N860DA          NaN      0
N866DA          NaN      0

[4399 rows x 2 columns]

In [114]:
sorted_means_count = means_counts.sort('mean', ascending=False)

In [116]:
# Quitamos los de pocos vuelos porque desvirtúan, no son representativos.

sorted_means_count[sorted_means_count['count']>10]

               mean  count
TailNum
N398AA   118.733333     15
N76065   117.416667     12
N5FSAA   105.800000     15
N557AA    85.434783     23
N17104    69.833333     12
N12125    67.235294     34
N189DN    65.800000     20
N619AS    62.125000     16
N639AA    60.312500     16
N502MQ    59.769231     52
N17128    52.666667     36
N387AA    52.500000     28
N345AA    50.941176     17
N41140    50.512195     41
N370AA    50.000000     11
N5FPAA    49.666667     15
N367AA    49.444444     27
N33103    47.481481     27
N79279    47.208333     24
N3767     46.800000     40
N908EV    46.250000     28
N68452    45.535211     71
N874AS    45.454545     77
N5FMAA    43.850000     20
N469AA    43.526316     76
N809MQ    43.032258     31
N607AS    41.833333     12
N210FR    40.728972    107
N227FR    39.593985    133
N110SY    39.433962    106
...             ...    ...
N564UW    -2.311321    106
N16151    -2.363636     11
N762AS    -2.438356     73
N535AS    -2.439560     91
N609AS    -2.598291    117
N577AS    -2.602410     83
N5FJAA    -2.666667     12
N455SW    -2.688235    170
N395HA    -2.702128     47
N397AA    -2.833333     18
N692CA    -2.909091     11
N3AFAA    -2.928571     14
N587AS    -2.986486     74
N383HA    -3.000000     45
N644AS    -3.112903    124
N318AS    -3.223301    103
N779AS    -3.234043     94
N463SW    -3.244094    127
N496CA    -3.285714     70
N796AS    -3.356589    129
N374HA    -3.500000     54
N612AS    -3.508475    118
N183JB    -3.684211     19
N431SW    -3.778689    122
N611AS    -3.837398    123
N659BR    -4.097561    164
N627AS    -4.407767    103
N618AS    -4.526786    112
N299SW    -5.769231     39
N781CA    -5.821918    146

[4166 rows x 2 columns]

In [117]:
# Llegan crónicamente tarde:
sorted_means_count[sorted_means_count['count']>10].head()

               mean  count
TailNum
N398AA   118.733333     15
N76065   117.416667     12
N5FSAA   105.800000     15
N557AA    85.434783     23
N17104    69.833333     12

In [118]:
df2['DepHour'].head()

0    8
1    8
2    8
3    8
4    8
Name: DepHour, dtype: int64

In [119]:
import matplotlib.pyplot as plt
%matplotlib inline